@import "../../../sass/index"; 

@keyframes tremor {
    25% {
        transform: rotateY(0);
    }

    45% {
        transform: rotateY(25deg);
    }

    65% {
        transform: rotateY(-25deg);
    }

    85% { 
        transform: rotateY(0);
    }
}

.aic-portfolio__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in-out;
    perspective: 800px;
    position: relative;
    justify-content: center;

    @media(min-width: 768px) {
        flex-direction: row;
        margin-bottom: pxToRem(-60);
        justify-content: unset;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            left: pxToRem(100);
        }
    }
}

.aic-portfolio__link--animate {
    animation-duration: 3s;
    animation-name: tremor;
    animation-iteration-count: infinite;
}