@import '../../sass/index';

.aic-page-title--lined {
    position: relative;

    &:after {
        content: '';
        height: 1px; 
        position: absolute;
        top: 50%;
        transform: translateX(-1px);
        width: calc(100% - 2px);
        background-color: $mine-shaft;
        right: 0;
    }
}

.aic-page-title--inner {
    position: relative;
    z-index: 1;
    background-color: $wild-sand;
    padding-right: 1.5rem;
}

.aic-page-title--paper-inner {
  background-color: #fff;
}