@import '../../../sass/index';

.aic-app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.aic-pull-forward {
    z-index: 1;
}
  
.aic-typography--title {
    @include title-type();
}
  
.aic-content {
    width: 95%;
    max-width: pxToRem(600);
    position: relative;
    margin: 0 auto;
}