@import '../../sass/index';

.aic-navigation {
    position: fixed;
    width: calc(100% - 50px);
    bottom: pxToRem(25);
    left: pxToRem(25);
    box-shadow: 0 1px 5px 0 #333;
    padding: 0 pxToRem(10);
    background: $nav-grad-from;
    background: -moz-linear-gradient(60deg, $nav-grad-from 0%, $nav-grad-to 100%);
    background: -webkit-linear-gradient(60deg, $nav-grad-from 0%,$nav-grad-to 100%);
    background: linear-gradient(60deg, $nav-grad-from 0%,$nav-grad-to 100%);
}

.aic-navigation__content {
    margin: 0 auto;
    max-width: pxToRem(500);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aic-navigation__item {
    font: 300 pxToRem(16) $font-primary;
    color: $white;
    text-decoration: none;

    @media(min-width: 768px) {
        font: 300 pxToRem(20) $font-primary;
    }
}

.aic-logo {
    color: $white;
    font: italic pxToRem(32) $font-logo;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 5rem;
}