@import '../../sass/index';

.aic-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: pxToRem(30) pxToRem(50);
    justify-content: space-between;
}

.aic-navigation__item {
    font: bold pxToRem(20) $font-body;
    color: $mine-shaft;
    text-decoration: none;
}