$spun-pearl: #a5a5af;
$white: #ffffff;
$wild-sand: #f4f4f4;
$mine-shaft: #373737;
$evening-sea: #015249;
$silver-tree: #57bc90;
$downy: #77c9d4;

$mirage: #16222A;
$william: #3A6073;

$nav-grad-from: $william;
$nav-grad-to: $mirage;