@import '../../sass/index';

.aic-header {
    display: flex;
    justify-content: center;
    padding: pxToRem(45) 0;
}

.aic-logo {
    color: $mine-shaft;
    font: italic pxToRem(49) $font-primary;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
    min-height: 7rem;
    background: $white;
    border: 1px solid $mine-shaft;
}