@import '../../sass/variables/colors';
@import '../../sass/functions/pxToRem';

body {
    background-color: $spun-pearl;
}

.aic-hex-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% + 3rem);
    width: calc(100% + 3rem);
    overflow: hidden;
    z-index: 0;
}

.aic-hex-bg__row {
    display: flex;
    margin-top: pxToRem(-13);
}

.aic-hex-bg__row:nth-child(odd) {
    margin-left: pxToRem(-25);
}

.aic-hex-bg__item-core {
    transition: all .3s ease-in-out;
    width: pxToRem(50);
    height: pxToRem(55);
    position: relative;
}

.aic-hex__svg {
    width: pxToRem(50);
    height: auto;
    display: block;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.aic-hex-bg__item {
    width: pxToRem(50);
    height: pxToRem(55);
    position: relative;
    transform-style: preserve-3d;
}

.aic-hex-bg__item:hover .aic-hex-bg__item-core {
    transform: rotateY(180deg);
}

.aic-hex-bg__item:hover .aic-hex__svg--back {
    transform: rotateY(0);
}

.aic-hex__svg--back {
    transform: rotateY(180deg);
}